/* Убираем скроллинг на уровне body */
body {
    background-color: #001f3f;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Убирает горизонтальный скроллинг .*/
}

.menu {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
    transition: transform 0.3s ease;
    box-sizing: border-box; /* Учитываем padding в ширину */
}


details {
    margin: 10px;
    background-color: #273353;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

summary {
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 0;
    color: #fff;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}


p {
    color: #ccc;
    font-size: 18px;
    text-align: left;
    margin: 8px 0;
}

/* Иконка гамбургера для мобильных устройств */
.hamburger-menu {
    display: none;
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 20;
    cursor: pointer;
}

/* Иконка поиска на мобильных устройствах */
.Search-icon {
    display: block;
    position: fixed;
    top: 40px;
    right: 40px; 
    z-index: 15;
}

/* Адаптивный дизайн для телефонов */
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        padding-bottom: 10px;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #001f3f;
        visibility: hidden;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .menu.open {
        visibility: visible;
        transform: translateY(0);
    }

    details {
        margin: 10px 0;
        padding: 15px;
    }

    .hamburger-menu {
        display: block;
    }

    .Search-icon {
        display: block;
    }

    summary {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }
}
.murat-photo {
    height: 150px;
    border-radius: 190px;
    display: block;
    border: 5px solid #fff;
    box-sizing: border-box;
    margin-left: auto; 
    margin-right: 20px;  
}


section h1 {
    margin-top: -100px;
    margin-left: 40px;
    font-size: 50px;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.orange {
    background-color: #efc480;
    height: 50px;
    width: 50px;
    border-radius: 40px;
    margin-left: 40px;
}

section h3 {
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 55px;
    margin-top: -40px;
}

.dok {
    color: black;
}

.logo {
    height: 100px;
    margin-left: 170px;
}

section.second-section {
    margin-top: 150px;
    background-color: #fff;
    height: 800px;
    border-radius: 30px 30px 30px;
    overflow-x: hidden; /* Предотвращаем горизонтальный скроллинг */
}
section.third-section {
    background-color: #001f3f;
    height: 800px;
}
footer {
    background-color: #fff;
    height: 500px;
    overflow-x: hidden; /* Предотвращаем горизонтальный скроллинг */
}
.orange2 {
    background-color: #efc480;
    height: 50px;
    width: 50px;
    border-radius: 40px;
    margin-left: 40px;
}
footer a {
    display: inline-block;
}
.all-a {
    display: flex;
    justify-content: space-around;
}
.logo-insta {
    color: black;
}
.logo-insta:hover {
    color: #001f3f;
}
.logo-facebook {
    color: black;
}
.logo-facebook:hover {
    color: #001f3f;
}
.logo-whatsapp {
    color: black;
}
.logo-whatsapp:hover {
    color: #001f3f;
}
.logo-mail {
    color: black;
}
.logo-mail:hover {
    color: #001f3f;
}
/* Стили для десктопов */
@media (min-width: 769px) {
    .Search-icon {
        display: none;
    }

    .hamburger-menu {
        display: none;
    }
}
